
body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
   
}
.set-radius-zero {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}
.content-wrapper {
    margin-top: 40px;
    min-height:800px;
    padding-bottom:90px;
}
.header-line {
    font-weight:900;
    padding-bottom:25px;
    border-bottom:1px solid #eeeeee;
    text-transform:uppercase;
}
.pad-botm {
    padding-bottom:30px;
}




.right-div {
    float: right; 
    padding: 20px;
}


.navbar-inverse {
background-color: #FFF;
border-color: rgba(155, 153, 153, 0.23);

}



.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}



.back-widget-set {
    background-color:transparent;
}

/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    font-size:13px;
      background-color: #f7f7f7;
      text-align:right;
       border-top:5px solid #9170E4;

}

    .footer-section a, .footer-section a:hover {
        color:#000;
    }

